/**
 * @file
 * @project 728
 * @package sftheme
 * @site app1
 */
body{
	background-image:url(images/728_bg_1.jpg);
}
a:link { color:#242c39; }
a:visited { color:#242c39; }
a:hover {
	color:#000000;
}
.sf_main_header { background-image:url(images/728_header_1.png); }
.sf_navigation ul li:hover a,
.sf_navigation ul li.sfhover a { background-color:#242c39; }
.sf_navigation .subnav { background-color:#242c39; }

.sf_banner a:link { color:#cccccc;}
.sf_banner a:visited { color:#cccccc;}
.sf_banner a:hover { background-color:#242c39; }

.sf_banner #bannerLink a { color:#cccccc;}
.sf_banner #bannerLink a:link { color:#cccccc;}
.sf_banner #bannerLink a:visited { color:#cccccc;}
.sf_banner #bannerLink a:hover { background-color:#242c39;}
#seals a {color:#cccccc;}
#seals a:visited {color:#cccccc;}
#seals a:hover {background-color:#242c39;}
/** 
 * -------------------------------
 * @section DBNow
 * -------------------------------
 */
.Data_Central_color7 {
	background-color:#003885;
	color:#fff;
}
.Data_Central_color1 {
	background-color:#242c39;
	color:#fff;
}
.Data_Central_color2 { background-color:#dadddd; }
.Data_Central_color3 { background-color:#e7eaea; }
.Data_Central_color6 { background-color:#f6f6f6; }
.Data_Central_color4 { background-color:#ffffff; }
.Data_Central_color5 { border-color:#ffffff; }
