div#content1{
	float:right;
	display:inline;
	width:19%;
}

div#content2{
	float:left;
	display:inline;
	width:70%;
}

div#content3{
	display:none;
}

div#content1, div#content2, div#content3 {
	padding: 5px 10px;
	overflow: hidden;
	position:relative;
}