<div class="sf_region1">
  <div class="sf_navigation">
    <div class="widget main_nav">
      <div class="widget_content">
        <ul id="Nav1" class="nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="About.html">About Us</a></li>
          <li><a href="Services.html">Services</a></li>
          <li><a href="Resources.html">Resources</a></li>
          <li><a href="Contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="sf_header_wrapper">
  <div class="sf_region2"></div>
  <div class="sf_extra3"></div>
</div>