.sf_region2 {
    background-image: url(../img/bg_uchw.jpg);
}

.sf_extra3 {
    background-image: url(../img/bg_oxeb.jpg);
}

.sf_main_header {
    background-image: none;
}

body#page_4c9f3d58-5dd9-40e1-8d88-8f9f0ed6a8df div#content2 {
    width: 70.02%;
}

body#page_4c9f3d58-5dd9-40e1-8d88-8f9f0ed6a8df div#content1 {
    width: 25.32%;
}
