body div#content1 {
    width: 25.32%;
}

#content1 li {
    font-size: 14px;
}

#content1 p {
    text-align: center;
    margin-top: 50px;
}

#content2 p {
    text-align: center;
}

#content2 .address {
    margin-top: 50px;
}