body div#content1 {
    width: 25.32%;
}

#content1 li {
    font-size: 14px;
}

#content1 p {
    text-align: center;
    margin-top: 50px;
}

#content2 p {
    text-align: center;
}

#content2 .address {
    margin-top: 50px;
}

.btn {
    color: #ffffff;
    font-size: 20px;
    background: #FFA500;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.sf_navigation li.btn-wrapper {
    padding-left: 28%;
}

form.contact {
    border: 1px solid;
}

table.form {
    margin: auto;
    width: 90%;
    border-collapse: collapse;
}

table.form th {
    font-weight: normal;
}

table.form td:first-of-type {
    text-align: right;
}

table.form td {
    border-top: 2px solid;
    line-height: 1.8em;
}

table.form textarea {
    width: 96%;
}