<!DOCTYPE html>
<title>{{ title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="css/app.css"/>

<div class="sf_outer_wrapper">
  {{> partials/nav}}

  <div class="sf_wrapper">
    <div class="sf_main_wrapper">
      <div class="sf_main">
        <div class="sf_region6">
          <h1>About Us</h1>

          <div class="sf_content">
            <p>
              <strong>Karen Lee</strong> is a certified bookkeeper through the&nbsp;American Institute of Professional
              Bookkeepers (AIPB) and has a degree in Financial Accounting. She has more than 10 years of experience with
              tax preparation and small business accounting.
            </p>

            <p>
              Karen is active in a number of professional organizations including the Hispanic Chamber of Commerce and
              treats every client with respect and integrity. Karen provides tax and accounting services to individuals
              and business owners.
            </p>

            <p>
              Karen enjoys spending time with her son Christian when she is not in the office and visiting San Diego, CA
              where she spent 5 years living.
            </p>

            <p>
              <strong>Daisy Segura</strong> manages the business aspects of the company. She has&nbsp;a degree in
              Business Administration and has a great deal of experience in Human Resources. During the tax season,
              Daisy helps with the high demand of tax preparations and in he spare time enojys spending time with her
              two children and family.
            </p>

            <p>
              <strong>Jazmin Chacon</strong> joined CJB Tax and Bookkeeping Services, LLC in 2010 and brings a great
              deal of experience and knowledge with her. She works in the office year-round and manages the marketing
              and advertising for the company. In her spare time, she enjoys spending time with her son Ryan.
            </p>
          </div>
        </div>
      </div>
      <!-- /sf_main_wrapper -->
    </div>
    <!-- /sf_main -->
  </div>
</div>
<!-- /sf_outer_wrapper -->
{{> partials/footer}}