<div class="mdl-layout__tab-panel" id="about-us">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <!--<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">-->
          <!--<div class="section__circle-container__circle mdl-color--primary"></div>-->
        <!--</div>-->
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h4>Karen Lee</h4>
          <p>
            Karen is a certified bookkeeper through the American Institute of Professional Bookkeepers (AIPB) and has a
            degree in Financial Accounting. She has more than 10 years of experience with tax preparation and small business
            accounting.
          </p>

          <p>
            Karen is active in a number of professional organizations including the Hispanic Chamber of Commerce and
            treats every client with respect and integrity. Karen provides tax and accounting services to individuals
            and business owners.
          </p>

          <p>
            Karen enjoys spending time with her son Christian when she is not in the office and visiting San Diego, CA
            where she spent 5 years living.
          </p>
        </div>
        <!--<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">-->
          <!--<div class="section__circle-container__circle mdl-color--primary"></div>-->
        <!--</div>-->
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h4>Daisy Segura</h4>
          <p>
            Daisy manages the business aspects of the company. She has a degree in Business Administration and has a
            great deal of experience in Human Resources. During the tax season, Daisy helps with the high demand of tax
            preparations and in he spare time enojys spending time with her two children and family.
          </p>
        </div>
        <!--<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">-->
          <!--<div class="section__circle-container__circle mdl-color--primary"></div>-->
        <!--</div>-->
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h4>Jazmin Chacon</h4>
          <p>
            Jazmin joined CJB Tax and Bookkeeping Services, LLC in 2010 and brings a great deal of experience and
            knowledge with her. She works in the office year-round and manages the marketing and advertising for the
            company. In her spare time, she enjoys spending time with her son Ryan.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section--center"></section>
</div>