<!DOCTYPE html>
<title>{{ title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="css/app.css"/>

<div class="sf_outer_wrapper">
  {{> partials/nav}}

  <div class="sf_wrapper">
    <div class="sf_main_wrapper">
      <div class="sf_main">
        <div class="sf_region6">
          <h1>Contact Us</h1>
          <div class="sf_content">
            <form name="Contact Form" id="wstForm_Contact"
                  action=""
                  method="get" labelid="formLabel_ContactForm">

              <table width="100%"
                     style="margin: auto; border: 1px solid currentcolor; border-collapse: collapse;" border="0"
                     cellspacing="1" cellpadding="5">

                <tbody>
                <tr>
                  <td align="center">
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tbody>
                      <tr>
                        <td align="center"
                            style="border-bottom-color: currentcolor; border-bottom-width: 1px; border-bottom-style: solid;">
                          <p>Please complete the fields below and we will respond to your
                            inquiry within&nbsp;24 hours.</p>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <table width="90%" style="text-align: left;" border="0" cellspacing="0" cellpadding="7">
                      <tbody>
                      <tr>
                        <td align="right"
                            style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                                  <span id="formLabel_First" controlid="formElement_First">First Name:</span></td>

                        <td style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                          <input name="First Name" id="formElement_First" labelid="formLabel_First"/></td>
                      </tr>
                      <tr>
                        <td align="right"
                            style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                                  <span id="formLabel_Last" controlid="formElement_Last">Last Name:</span></td>

                        <td style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                          <input name="Last Name" id="formElement_Last" labelid="formLabel_Last"/></td>
                      </tr>
                      <tr>
                        <td align="right"
                            style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                                  <span id="formLabel_Street1" controlid="formElement_Street1">Address Street 1:</span></td>

                        <td style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                          <input name="Address Street 1" id="formElement_Street1" size="30" labelid="formLabel_Street1"/></td>
                      </tr>

                      <tr>
                        <td align="right"
                            style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                                  <span id="formLabel_Street2" controlid="formElement_Street2">Address Street 2:</span></td>

                        <td style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                          <input name="Address Street 2" id="formElement_Street2" size="30" labelid="formLabel_Street2"/></td>
                      </tr>

                      <tr>
                        <td align="right"
                            style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                                  <span id="formLabel_City" controlid="formElement_City">City:</span></td>

                        <td style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                          <input name="City" id="formElement_City" labelid="formLabel_City"/></td>
                      </tr>

                      <tr>
                        <td align="right"
                            style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                                  <span id="formLabel_Zip" controlid="formElement_Zip">Zip Code:</span></td>

                        <td style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                          <input name="Zip Code" id="formElement_Zip" size="5" maxlength="5" labelid="formLabel_Zip"/> (5 digits)
                        </td>
                      </tr>

                      <tr>
                        <td align="right"
                            style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                                  <span id="formLabel_State" controlid="formElement_State">State:</span></td>

                        <td style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                          <select name="State" id="formElement_State" labelid="formLabel_State">
                            <option selected="selected" value="AL" selected="selected">AL</option>
                            <option value="AK">AK</option>
                            <option value="AZ">AZ</option>
                            <option value="AR">AR</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DE">DE</option>
                            <option value="DC">DC</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="IA">IA</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="ME">ME</option>
                            <option value="MD">MD</option>
                            <option value="MA">MA</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MS">MS</option>
                            <option value="MO">MO</option>
                            <option value="MT">MT</option>
                            <option value="NE">NE</option>
                            <option value="NV">NV</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NY">NY</option>
                            <option value="NC">NC</option>
                            <option value="ND">ND</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VT">VT</option>
                            <option value="VA">VA</option>
                            <option value="WA">WA</option>
                            <option value="WV">WV</option>
                            <option value="WI">WI</option>
                            <option value="WY">WY</option>
                          </select></td>
                      </tr>

                      <tr>
                        <td align="right"
                            style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                                  <span id="formLabel_DaytimePhone" controlid="formElement_DaytimePhone">Daytime Phone:</span></td>

                        <td style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                          <input name="Daytime Phone" id="formElement_DaytimePhone"
                                 labelid="formLabel_DaytimePhone"></td>
                      </tr>

                      <tr>
                        <td align="right"
                            style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                                  <span id="formLabel_EveningPhone" controlid="formElement_EveningPhone">Evening Phone:</span></td>

                        <td style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                          <input name="Evening Phone" id="formElement_EveningPhone"
                                 labelid="formLabel_EveningPhone"></td>
                      </tr>

                      <tr>

                        <td align="right"
                            style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                                  <span id="formLabel_Email" controlid="formElement_Email">Email:</span></td>

                        <td style="border-top-color: currentcolor; border-bottom-color: currentcolor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                          <input name="Email" id="formElement_Email" labelid="formLabel_Email"></td>

                      </tr>

                      <tr>

                        <td align="right"
                            style="border-top-color: currentcolor; border-top-width: 1px; border-top-style: solid;">
                          <span id="formLabel_Comments" controlid="formElement_Comments">Question:</span>
                        </td>

                        <td style="border-top-color: currentcolor; border-top-width: 1px; border-top-style: solid;">
                                  <textarea name="Comments" id="formElement_Comments" style="width: 96%;" rows="4"
                                            cols="38" labelid="formLabel_Comments">Enter question here!</textarea></td>

                      </tr>

                      </tbody>

                    </table>


                    <p><input id="wstForm_Contact_Submit" onclick="return wstxSubmitForm(this);" type="submit"
                              value="Submit"><input id="wstForm_Contact_Reset" type="reset"
                                                            value="Reset"/></p>
                  </td>
                </tr>
                </tbody>

              </table>
              <input name="FormMailerSubject" id="FormMailerSubject" type="hidden"
                     value="Contact Form."><input
                name="FormMailerRedirect" id="FormMailerRedirect" type="hidden"
                value="http://cjbtaxandbookkepping.com/Home.html"/>
            </form>
          </div>
        </div>
      </div>
      <!-- /sf_main_wrapper -->
    </div>
    <!-- /sf_main -->
  </div>
</div>
<!-- /sf_outer_wrapper -->
{{> partials/footer}}
