<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">CJB Tax and Bookeeping, LLC.</div>
  </div>
  <div class="mdl-mini-footer__right-section">
    All content copyright <a href="http://cjbtaxandbookeeping.com">CJB Tax and Bookeeping</a> &copy; {{year}}
  </div>
</footer>
