<div class="mdl-layout__tab-panel" id="home">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="section__play-btn mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--primary mdl-color-text--white">
      <img src="img/logo.png" height="250"/>
    </header>
    <div class="mdl-card mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <p class="mdl-typography--subhead">
          We are a licensed, registered and bonded financial service dedicated to
          serving all of your accounting and tax
          related needs. Our mission is to provide you with the highest level of expertise and professionalism.
        </p>
        <p class="mdl-typography--subhead">
          We offer a full service of financial accounting and tax service for individuals and business owners. If you are not familiar with our company and your first contact with us is online: We would be pleased to hear from you!
          Please contact us and let us help meet your needs.
        </p>
      </div>
    </div>
  </section>

  <section class="section--center mdl-color--white"></section>
</div>