<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CJB Tax and Bookeeping</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,medium">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue_grey-orange.min.css" />
  <link rel="stylesheet" href="css/styles.css"/>
</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  {{> header}}
  <main class="mdl-layout__content">
    {{> home }}
    {{> about-us}}
    {{> services}}
    {{> resources}}
    {{> contact-us}}
    {{> footer}}
  </main>
</div>
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
</body>
</html>