<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body id='page_4c9f3d58-5dd9-40e1-8d88-8f9f0ed6a8df'>
<div class="sf_outer_wrapper">
  <div class="sf_region1">
    <div class="sf_navigation">
      <div class="widget main_nav">
        <div class="widget_content">
          <ul id="Nav1" class="nav">
            <li class="active-nav sf_first_nav_item"><a href="Home.html" target="_self" onclick="">Home Page</a></li>
            <li class=""><a href="About.html" target="_self" onclick="">About Us</a></li>
            <li class=""><a href="Services.html" target="_self" onclick="">Services</a></li>
            <li class=""><a href="Resources.html" target="_self" onclick="">Resources</a></li>
            <li class=" sf_last_nav_item"><a href="Contact.html" target="_self" onclick="">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="sf_extra1"><span></span></div>
  <div class="sf_wrapper">
    <div style='display:block;overflow:visible;margin:0;padding:0;'>
      <div class='sf_undocked'
           style='display:block;height:0;position:absolute;margin:0;padding:0;overflow:visible;width:0;top:0;z-index:999998;left:auto;'>
      </div>
    </div>

    <div class="sf_region2">

    </div>
    <div class="sf_extra10"><span></span></div>
    <div class="sf_header_wrapper">
      <div class="sf_extra2"><span></span></div>
      <div class="sf_region3">
        <div class="sf_main_header">
          <div style="display:block;"><p style="text-align: left;"><font color="#ffa500"><font style="font-size: 20px;"><font
              style="font-size: 20px;"><font style="font-size: 16px;">
          </font></font></font></font>
          </p></div>
        </div>
      </div>
      <div class="sf_extra3"><span></span></div>
    </div>
    <div class="sf_extra4"><span></span></div>
    <div class="sf_region4">

    </div>
    <div class="sf_extra5"><span></span></div>
    <div class="sf_region5">

    </div>
    <div class="sf_extra6"><span></span></div>
    <div class="sf_extra11"><span></span></div>
    <div class="sf_main_wrapper">
      <div class="sf_main">
        <div class="sf_region6">
          <div class="sf_pagetitle">
            <p><img alt="" style="width: 475px;" src="img/logo-with-name.png"/></p>
          </div>
          <div class="sf_content">
            <div id="content1">
              <ul>
                {{#each content1}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>
              <p>
                <img alt="e-file" src="http://www.irs.gov/image/filingpay_efile.gif"/>
              </p>
              <p>
                <strong>¡Se habla Español!</strong>
              </p>
            </div>
            <div id="content2">
              <p>{{content2.p1}}</p>
              <p>{{content2.p2}}</p>
              <p class="address">
                CJB Tax and Bookkeeping Services, LLC<br/>
                1330 San Pedro Drive NE. Suite 110<br/>
                (505) 554-1881 Office<br/>
                (505) 435-9045 Fax<br/>
                <a href="mailto:customerservice@cjbtaxandbookkeeping.com">customerservice@cjbtaxandbookkeeping.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /sf_main_wrapper -->
    </div>
    <!-- /sf_main -->
  </div>
</div>
<!-- /sf_outer_wrapper -->
<div class="sf_region10">
  <div class="sf_footer">
    <div style="display:block;">Content copyright
      <script
          type='text/javascript'>if (typeof(getCopyrightDate) == 'function') document.write(getCopyrightDate(2012, null, '-')); else document.write((new Date()).getFullYear());</script>
      . cjbtaxandbookkepping.com. All rights reserved.
    </div>
  </div>
  <div class="sf_banner">
    <div style="display:block;">
      <div style="text-align:center"><a href='http://www.godaddy.com/hosting/website-builder.aspx?isc=wscfwst304'
                                        target='_blank'><img id='bannerImage' src="img/gd_black.gif"
                                                             alt='Web Hosting Companies' title='Web Hosting Companies'
                                                             border='0'/></a></div>
    </div>
  </div>
</div>

</body>
</html>