<!DOCTYPE html>
<title>{{ title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="css/app.css"/>

<div class="sf_outer_wrapper">
  {{> partials/nav}}

  <div class="sf_wrapper">
    <div class="sf_main_wrapper">
      <div class="sf_main">
        <div class="sf_region6">

        </div>
      </div>
      <!-- /sf_main_wrapper -->
    </div>
    <!-- /sf_main -->
  </div>
</div>
<!-- /sf_outer_wrapper -->
{{> partials/footer}}
