<!DOCTYPE html>
<title>{{ title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="css/app.css"/>

<div class="sf_outer_wrapper">
  {{> partials/nav}}

  <div class="sf_wrapper">
    <div class="sf_main_wrapper">
      <div class="sf_main">
        <div class="sf_region6">
          <h1>Resources</h1>

          <div class="sf_content">
            <p>
              <strong>State and Governmental Agencies</strong><br/>

              <a href="http://www.tax.newmexico.gov/Pages/TRD-Homepage.aspx">New Mexico Taxation and Revenue
              Department&nbsp; </a><br/>
              <a href="http://www.nmprc.state.nm.us/">New Mexico Public Regulation
                Commission<br/>
              </a><a
                  href="/designer/EditBlock.aspx?blockGuid=dcc79897-8267-45d7-94d5-e1795cbf77aa&amp;parentBlockGuid=22f5afd0-dc3b-4474-abdc-c3d7d39a2254&amp;blockWidth=570&amp;ftbWidth=568&amp;ftbHeight=458&amp;iframeId=quickEditIFrame6851#">IRS</a><br/>
              <a href="http://www.cabq.gov/treasury/register-your-business">City of
                Albuquerque-Registering a Business</a>
            </p>

            <p>
              <strong>News and Information</strong><br/>
              <a href="/designer/EditBlock.aspx?blockGuid=dcc79897-8267-45d7-94d5-e1795cbf77aa&amp;parentBlockGuid=22f5afd0-dc3b-4474-abdc-c3d7d39a2254&amp;blockWidth=570&amp;ftbWidth=568&amp;ftbHeight=458&amp;iframeId=quickEditIFrame6851#">The
                Wall Street Journal</a><br/>
              <a href="/designer/EditBlock.aspx?blockGuid=dcc79897-8267-45d7-94d5-e1795cbf77aa&amp;parentBlockGuid=22f5afd0-dc3b-4474-abdc-c3d7d39a2254&amp;blockWidth=570&amp;ftbWidth=568&amp;ftbHeight=458&amp;iframeId=quickEditIFrame6851#">CNN
                Financial News</a><br/>

              <a href="/designer/EditBlock.aspx?blockGuid=dcc79897-8267-45d7-94d5-e1795cbf77aa&amp;parentBlockGuid=22f5afd0-dc3b-4474-abdc-c3d7d39a2254&amp;blockWidth=570&amp;ftbWidth=568&amp;ftbHeight=458&amp;iframeId=quickEditIFrame6851#">National
                Business News</a><br/>
              <a href="/designer/EditBlock.aspx?blockGuid=dcc79897-8267-45d7-94d5-e1795cbf77aa&amp;parentBlockGuid=22f5afd0-dc3b-4474-abdc-c3d7d39a2254&amp;blockWidth=570&amp;ftbWidth=568&amp;ftbHeight=458&amp;iframeId=quickEditIFrame6851#"> </a>
              <a href="/designer/EditBlock.aspx?blockGuid=dcc79897-8267-45d7-94d5-e1795cbf77aa&amp;parentBlockGuid=22f5afd0-dc3b-4474-abdc-c3d7d39a2254&amp;blockWidth=570&amp;ftbWidth=568&amp;ftbHeight=458&amp;iframeId=quickEditIFrame6851#">World
                Financial News</a>
            </p>

            <p>
              <strong>Tax Law Resources</strong><br/>
              <a href="/designer/EditBlock.aspx?blockGuid=dcc79897-8267-45d7-94d5-e1795cbf77aa&amp;parentBlockGuid=22f5afd0-dc3b-4474-abdc-c3d7d39a2254&amp;blockWidth=570&amp;ftbWidth=568&amp;ftbHeight=458&amp;iframeId=quickEditIFrame6851#">Federal
                Tax Law Database</a><br/>

              <a href="/designer/EditBlock.aspx?blockGuid=dcc79897-8267-45d7-94d5-e1795cbf77aa&amp;parentBlockGuid=22f5afd0-dc3b-4474-abdc-c3d7d39a2254&amp;blockWidth=570&amp;ftbWidth=568&amp;ftbHeight=458&amp;iframeId=quickEditIFrame6851#">State
                Tax Law Database</a><br/>

              <a href="/designer/EditBlock.aspx?blockGuid=dcc79897-8267-45d7-94d5-e1795cbf77aa&amp;parentBlockGuid=22f5afd0-dc3b-4474-abdc-c3d7d39a2254&amp;blockWidth=570&amp;ftbWidth=568&amp;ftbHeight=458&amp;iframeId=quickEditIFrame6851#">Tax
                Law Clearinghouse</a><br/>

              <a href="/designer/EditBlock.aspx?blockGuid=dcc79897-8267-45d7-94d5-e1795cbf77aa&amp;parentBlockGuid=22f5afd0-dc3b-4474-abdc-c3d7d39a2254&amp;blockWidth=570&amp;ftbWidth=568&amp;ftbHeight=458&amp;iframeId=quickEditIFrame6851#">Tax
                Deductions Index</a><br/>
            </p>
          </div>
        </div>
      </div>
      <!-- /sf_main_wrapper -->
    </div>
    <!-- /sf_main -->
  </div>
</div>
<!-- /sf_outer_wrapper -->
{{> partials/footer}}
